@font-face {
  font-family: "Kollektif";
  src: url("../fonts/Kollektif.ttf");
}

* {
  font-family: "Kollektif";
}

.btnEditar {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.root-dashboard {
}

/* LISTA DE ARTIGOS */

.article-card {
  z-index: 1;
}

.article-card {
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: 0px 10px 1px #bbb; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 10px 1px #bbb; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 10px 1px #bbb; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  margin: 0 25px 20px 25px;
  padding: 15px 0;
  /* border: 1px solid #bbb */
}

.rowListaArtigo {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

#lista-artigos {
  width: 75%;
  margin: 0 auto;
  flex: 3;
}
#lista-artigos div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#lista-artigos div .article-card h2 {
  font-size: 18px;
  color: #00a8ec;
}

#lista-artigos div .article-card .article-card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image-card-article {
  width: 100%;
  height: 50%;
  cursor: pointer;
}

.title-article {
  text-align: justify;
  cursor: pointer;
  color: #f57315;
  text-shadow: 1px 1px 1px #000;
  width: 100%;
}

.div-title-subtitle {
  position: absolute;
  width: 80%;
  top: 20%;
  left: 15%;
  margin-top: -50px;
  margin-left: -50px;
}

@media only screen and (max-width: 770px) {
  .div-title-subtitle h2 {
    font-size: 98%;
  }

  .div-title-subtitle p {
    font-size: 77%;
  }

  .div-title-subtitle {
    top: 32%;
    left: 19%;
  }
}

@media only screen and (max-width: 600px) {
  .div-title-subtitle h2 {
    font-size: 80%;
  }

  .div-title-subtitle p {
    font-size: 60%;
  }

  .div-title-subtitle {
    top: 35%;
    left: 21%;
  }
}

@media only screen and (max-width: 350px) {
  .div-title-subtitle h2 {
    font-size: 60%;
  }

  .div-title-subtitle p {
    font-size: 60%;
  }

  .div-title-subtitle {
    top: 40%;
    left: 25%;
  }
}

.subtitle-card-article {
  width: 100%;
  color: #fff;
  text-align: justify;
  font-size: 13px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 105%;
  text-shadow: 1px 1px 3px #000;
}

.autor-card-article {
  width: 100%;
  color: #fff;
  text-align: justify;
  font-size: 13px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 105%;
  text-shadow: 1px 1px 3px #000;
}

.data-card-article {
  width: 100%;
  color: #fff;
  text-align: justify;
  font-size: 13px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 105%;
  text-shadow: 1px 1px 3px #000;
}

/* ==== */

#left-menu {
  width: 30%;
  background-color: grey;
}

#left-menu #logo-image {
  display: block;
  margin: 5% auto;
  width: 100%;
}

#left-menu ul {
  margin-top: 10%;
  list-style: none;
}
#left-menu li {
  cursor: pointer;
  color: #ddd;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
  display: flex;
}

#left-menu li:hover {
  color: #fff;
}

#left-menu a {
  cursor: pointer;
  color: #ddd;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
  display: flex;
  text-decoration: none;
}

#left-menu a:hover {
  color: #fff;
}
