.App {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  width: 25%;
}

.App-header {
  margin-top: 45px;
}

.App-title {
  color: #f57315;
  text-align: justify;
  margin-bottom: 15px;
}

.App-subtitle {
  text-align: center;
  margin-top: 15px;
  color: #00a8ec;
}

.App-intro {
  font-size: large;
  padding: 1% 15%;
  text-align: justify;
}

.Image-capa {
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 10px 1px #bbb; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 10px 1px #bbb; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 10px 1px #bbb; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  padding: 15px 0;
}

#autor_criacao {
  text-align: left;
}

#autor_criacao p {
  font-size: 0.9em;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .div-texto {
    margin-top: 30px;
  }
}

.div-texto {
  margin-top: 30px;
}

.div-texto img {
  width: 80%;
  background: #fff;
  -webkit-box-shadow: 0px 10px 1px #bbb; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 10px 1px #bbb; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 10px 1px #bbb; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  padding: 15px 0;
  margin-bottom: 30px;
}

.div-texto a {
  text-decoration: none;
  color: #f57315;
}

.div-texto a:hover {
  color: #78d1aa;
}

.div-texto h1 {
  color: orange;
}

.div-texto h2 {
  color: red;
}

.div-texto p {
  text-align: justify;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
